---
import Layout from '../layouts/Layout.astro';
import Highlight from '../components/Highlight.astro';
---

<Layout title="Timo Lausmaa">
	<p>
		Senior developer with 8 years of experience.<br/> I believe the most important qualities 
		for a developer are to take ownership and to genuinely care. 
		I bring that to any team I work in and I believe that helps us succeed. 
		I love learning and developing myself and feel I'm at my best when I can 
		challenge myself and take on new responsibilities.
	</p>
	<h3 class="title">Employment history</h3>
	<div class="job-title">Software Developer, <span class="light">Futurice Oy, Helsinki</span></div>
	<div class="job-details-container">
		<div class="job-period">August 2022 - present</div>
		<div class="key-tech">C#, React, Javascript, SQL, GraphQL</div>
	</div>
	<p>Consultant work in the public health care sector.</p>
	<div class="job-title">Software Developer, Isolta Oy, Helsinki</div>
	<div class="job-details-container">
		<div class="job-period">February 2018 - July 2022</div>
		<div class="key-tech">React, Typescript, PHP 8, Jest, PHPUnit</div>
	</div>
	<p>
		Part of a small team creating invoicing and accounting software for entrepreneurs.<br/>
		I took part in creating a new web-based SaaS product using the latest technologies both in 
		backend and frontend side. I participated in establishing and understanding user stories, customer needs, 
		creating UI mockups/wireframes, designing and implementing the technical solutions and finally shipping 
		and maintaining the new product. Mobile-first design, UX and API integrations were critical focus points.
	</p>
	<div class="job-title">Software Developer, Piimega Oy, Oulu</div>
	<div class="job-details-container">
		<div class="job-period">May 2015 - January 2018</div>
		<div class="key-tech">C#, VB.NET, SQL, Javascript, HTML</div>
	</div>
	<p>
		Developing desktop and web based ERP systems used for procurement, harvesting and 
		logistics management in forest industry.
	</p>
</Layout>

<style>
	.title {
		font-size: 2.4rem;
	}
	.light {
		/* font-weight: lighter; */
	}
	.job-details-container {
		line-height: 1.0em;
		color: rgb(40, 40, 40);
	}
	.job-title {
		font-weight: 600;
	}
	.job-period {
		font-size: 0.7em;
	}
	.key-tech {
		font-size: 0.7em;
		margin-top: 0;
	}
</style>
