---
---

<span class="highlight"><slot /></span>

<style>
    .highlight {
        background: #6202CF;
        background: linear-gradient(to right, #6202CF 0%, #0068CF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>