---
import ProfilePicture from '../components/ProfilePicture.astro'
---
<div class="container">
    <ProfilePicture />
    <div class="text-stack">
        <h1 class="header1"><span class="text-gradient">Timo Lausmaa</span></h1>
        <h1 class="header2">Senior Full Stack Developer</h1>
        <!-- <h3 class="header3">8 years of developer experience</h3> -->
        <div class="contact-details">
            <div>firstname.lastname@gmail.com</div>
            <a href="https://www.linkedin.com/in/timo-lausmaa-68b502155/">LinkedIn</a>
            <div>Helsinki, Finland</div>
        </div>
    </div>
</div>
<style>
    .container {
        display: flex;
        justify-content: flex-end;
    }
    .text-stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .header1 {
		margin: 0;
		font-size: 3.5rem;
		font-weight: 800;
        padding-left: 2rem;
	}
    .header2, .header3 {
		margin: 0;
        font-size: 2.5rem;
        padding-left: 2rem;
        font-weight: lighter;
    }
    .text-gradient {
        background: #6202CF;
        background: linear-gradient(to right, #6202CF 0%, #0068CF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
    .contact-details {
        color: rgb(30, 30, 30);
        padding-left: 2rem;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }
</style>
