--- 
--- 
<div class="container">
    <div class="flex-h">
        <div class="flex-v">
            <img class="profile-picture" src="photo-cropped.jpg">
        </div>
    </div>
</div>
<style>
    .container {
        background: #f6f6f6;
        max-width: 250px;
    }
    .flex-h {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .flex-v {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profile-picture {
        border-radius: 50%;
        height: auto;
        width: 200px;
        padding: 25px;
    }
    @media only screen and (max-width: 700px) {
        .profile-picture {
            width: 100px;
            padding: 10px;
        }
    }
</style>